# Build output
_site/

# Dependency folders
node_modules/
.cache/
.11ty-cache/
.env

# Mac system files
.DS_Store
Thumbs.db


npm-debug.log*
package-lock.json

.AppleDouble
.LSOverride
._*

.vscode/
*.code-workspace


.eleventy.cache/



# --- High-Resolution Assets (Optional) ---
# Ignore large PDFs if you prefer to host them elsewhere or use Git LFS
# *.pdf

