<header class="top-panel-container">
  <table class="top-panel-table">
    <tr class="top-panel-row">
      <td><img src="/assets/images/logo.png" alt="Logo" class="logo-cell"></td> <!-- col 1 = logo -->
      <td class="title-cell">
        <div class="title-line-1">Carmelita Oosthuizen&nbsp;|&nbsp;<span class="no-break-mobile">B.Ed Foundation Phase</span></div>
        <div class="title-line-2">Academic Portfolio</div>
      </td>
      <td class="menu-cell">
        <div id="menu-overlay"></div>
          <button class="menu-toggle" onclick="toggleMenu()">☰ Menu</button>
      </td>
    </tr>
  </table>
</header>